{% set document_root = pillar['lighttpd']['document_root'] %}
{% set pki_dir = pillar['lighttpd']['pki_directory'] %}
{% set pem_file = pillar['lighttpd']['pem_file'] %}
{% set log_dir = pillar['lighttpd']['log_directory'] %}
{% set pid_dir = pillar['lighttpd']['pid_directory'] %}
{% set hostname = pillar['dongle']['hostname'] %}

server.document-root = "{{ document_root }}"

server.errorlog = "{{ log_dir }}/error.log"
server.pid-file = "{{ pid_dir }}/lighttpd.pid"

server.username = "{{ pillar['lighttpd']['www_user'] }}"
server.groupname = "{{ pillar['lighttpd']['www_group'] }}"

static-file.exclude-extensions = ( ".fcgi", ".php", ".rb", "~", ".inc" )
index-file.names = ( "index.html" )

mimetype.assign = (
  ".html" => "text/html",
  ".txt" => "text/plain",
  ".jpg" => "image/jpeg",
  ".png" => "image/png"
)

server.modules = (
 "mod_rewrite",
 "mod_redirect"
)

$HTTP["scheme"] == "http" {
    $HTTP["host"] =~ ".*" {
        url.redirect = (".*" => "https://%0$0")
    }
}

# bind later on uap0 ip!
$SERVER["socket"] == ":443" {
    ssl.engine  = "enable"
    ssl.pemfile = "{{ pki_dir }}/{{ pem_file }}"
    $HTTP["host"] == "{{ hostname }}" {
      server.document-root = "{{ document_root }}"
    }
}
